In [1]:
from facebook_scraper import get_profile
import pandas as pd

/home/admin1/anaconda3/envs/fb_crawl/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_csv('../datasets/Data_02.csv')
df

,group,member_url
0,AN LUONG DONG HIGH SCHOOL,https://www.facebook.com/profile.php?id=100053...
1,AN LUONG DONG HIGH SCHOOL,https://www.facebook.com/profile.php?id=100052...
2,AN LUONG DONG HIGH SCHOOL,https://www.facebook.com/profile.php?id=100003...
3,AN LUONG DONG HIGH SCHOOL,https://www.facebook.com/profile.php?id=100002...
4,AN LUONG DONG HIGH SCHOOL,https://www.facebook.com/profile.php?id=100009...
...,...,...
42806,Đoàn trường THPT Bình Điền,https://facebook.com/06.th01
42807,Vinh Xuân confessions,https://facebook.com/0346675010hoi
42808,Đoàn trường THPT A Lưới,https://facebook.com/02th205
42809,THPT Phú Lộc Confessions,https://facebook.com/027430740h
42810,CLB Bóng rổ The Beast - THPT Bùi Thị Xuân,https://facebook.com/0112phuonguyenneeee

In [3]:
def extract_facebook_id(url):

    parts = url.split("id=")
    if len(parts) > 1:
        return parts[1]
    else:
        return None

url = "https://www.facebook.com/profile.php?id=100053397864324"
facebook_id = extract_facebook_id(url)
print(facebook_id)

100053397864324

In [4]:
df['name'] =None

In [5]:
def get_name(link):
    try:
        id = extract_facebook_id(link)
        
        json = get_profile(id) # Or get_profile("zuck", cookies="cookies.txt")
        return json["Name"]
    except:
        return None

In [8]:
df = pd.read_csv('../datasets/username.csv')

In [10]:
start = 1880
end = 2380
batch = 500
for i in range(10):
    df.loc[start:end, 'Name'] = df.loc[start:end, 'member_url'].apply(get_name)
    start += batch
    end += batch
    df.to_csv('../datasets/username.csv')
    print(f'batch {i}')

batch 0
batch 1
batch 2
batch 3
batch 4
batch 5
batch 6
batch 7
batch 8
batch 9

In [ ]:
# 10 requests per 2 minutes

In [8]:
df

,group,member_url,name
0,AN LUONG DONG HIGH SCHOOL,https://www.facebook.com/profile.php?id=100053...,Nguyễn Mần
1,AN LUONG DONG HIGH SCHOOL,https://www.facebook.com/profile.php?id=100052...,Tôn Đức
2,AN LUONG DONG HIGH SCHOOL,https://www.facebook.com/profile.php?id=100003...,Nguyễn Hồng Trang
3,AN LUONG DONG HIGH SCHOOL,https://www.facebook.com/profile.php?id=100002...,Trung Lê
4,AN LUONG DONG HIGH SCHOOL,https://www.facebook.com/profile.php?id=100009...,Kim Khánh
...,...,...,...
42806,Đoàn trường THPT Bình Điền,https://facebook.com/06.th01,None
42807,Vinh Xuân confessions,https://facebook.com/0346675010hoi,None
42808,Đoàn trường THPT A Lưới,https://facebook.com/02th205,None
42809,THPT Phú Lộc Confessions,https://facebook.com/027430740h,None
42810,CLB Bóng rổ The Beast - THPT Bùi Thị Xuân,https://facebook.com/0112phuonguyenneeee,None

In [9]:
df.to_csv('../datasets/username.csv', index=False)

In [10]:
json = get_profile('zuck') # Or get_profile("zuck", cookies="cookies.txt")
json

{'Friend_count': None,
 'Follower_count': None,
 'Following_count': None,
 'Name': 'Mark Zuckerberg'}

In [12]:
json['Name']

'Mark Zuckerberg'